@use '../abstracts' as *;

.card {
    &__heading {
        align-items: baseline;
        padding-bottom: 0;

        h2 {
            grid-column: 1 / 3;
            
        }

        button  {
            justify-self: end;
            margin-right: size(-16);
        }
    }

    &__entry {
        white-space: nowrap;
        max-height: $rounded-icon-size;

        &:hover {
            background-color: $secondary-background;
            outline: 2px solid rgba(255, 255, 255, 0.05);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.21);
            border-radius: $border-radius;

            .icon {
                transform: translateY(-8%);
            }
        }
    }

    &__general {
        grid-row: 1 / -1;
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid; 

        grid-row-gap: size(4);
        grid-column-gap: size(10);
        justify-items: start;
        overflow: visible;

        img {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
            transition: transform .25s;
        }

        h3 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            align-self: end;
        }

        p {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }

    &__details {
        grid-row: 1 / -1;
        justify-items: end;
        display: grid;
        grid-template-rows: subgrid;
        grid-row-gap: size(4);

        h3 {
            grid-row: 1 / 2;
            align-self: end;
        }

        p {
            grid-row: 2 / 3;
        }
    }
}
