
.investments {
    grid-area: 1 / 4 / 4 / 5;
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: repeat(2, fit-content) repeat(12, fit-content);
    gap: size(8);

     & > * {
        grid-column: 1 / 4; 
        grid-row: span 2; 
        display: grid;
        grid-template-columns: subgrid; 
        grid-template-rows: subgrid;
        height: fit-content;
        padding: size(5) size(10);
    }
}