@use '../abstracts' as *;

.btn {
    font-size: size(16);
    padding: size(10) size(16);
    background: transparent;
    border: none;
    border-radius: $border-radius;
    color: $color-primary;
    white-space: nowrap;
    transition: all 0.2s;

    &:hover {
        color: white;
        outline: $border-hover;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.21);
        transform: translateY(-2px) ;
    }

     &:active {
        background-color: hsla(0, 0%, 50%, 0.25);
    }
}